// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
}

th {
  padding:5px;
  border: 2px solid black;
  background-color: #94FF70;
}

td {
  padding:5px;
  border:2px solid green;
}